form {
  width: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.input {
  width: 100%;
  border: 1px solid teal;
  padding: 10px 15px;
}

.btn {
  align-self: flex-end;
  padding: 10px 15px;
  background: none;
  color: teal;
  border: 1px solid teal;
}