.mission-list {
  &-item {
    display: inline-block;
    margin-right: 10px;
  }

  &-enter {
    &-active {
      transition: all 0.4s ease;
    }

    &-from {
      opacity: 0;
      transform: translateX(130px);
    }
  }

  &-leave {
    &-active {
      transition: all 0.4s ease;
    }

    &-to {
      opacity: 0;
      transform: translateX(130px);
    }
  }

  &-move {
    transition: transform 0.4s ease;
  }

  &__empty-message {
    color: red;
  }
}