.empty-message {
  color: red;
}

.mission-list-item {
  display: inline-block;
  margin-right: 10px;
}

.mission-list-enter-active, .mission-list-leave-active {
  transition: all 0.4s ease;
}

.mission-list-enter-from, .mission-list-leave-to {
  opacity: 0;
  transform: translateX(130px);
}

.mission-list-move {
  transition: transform 0.4s ease;
}